<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>

    <body>
      {{> header}}
      <p>this is our projects page</p>

      {{> footer}}
    </body>
</html>
